/* Budget.css */
@font-face {
  font-family: 'AovelSansRounded';
  src: url('./aovel-sans-rounded-font/AovelSansRounded-rdDL.ttf');
}

* {
  font-family: 'AovelSansRounded', sans-serif;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}