.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }
  
    .box {
      margin: 10px 0; /* Stack boxes vertically on smaller screens */
    }
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .box {
    flex: 1; /* Ensures each box takes equal width */
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f4f4f4;
  }
  
  .box > * {
    margin-bottom: 10px;
  }
  
  .ct-header{
    font-size: 3rem;
  }